article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: rgb(61, 145, 117);
  text-shadow: 0 1px 1px black, 0 0 1rem rgb(117, 22, 155);
}

section {
  border-radius: 11px;
  flex-basis: 20%;
  padding: 20px;
  border: 2px solid rgb(117, 22, 155);
  box-shadow: 0 1px 1px black, 0 0 1rem rgb(61, 145, 117);
  margin: 10px auto;
}

button {
  border-radius: 20px;
  background-color: aliceblue;
  border: 2px solid rgb(61, 145, 117);
  color: rgb(117, 22, 155);
  font-weight: bolder;
  display: block;
  margin: 25px auto 0;
  padding: 11px;
}

input[type="radio"] {
  accent-color: rgb(61, 145, 117);
}
